*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    font-family: 'Montserrat' !important;
}
.bl-w-100{
    width: 100% ;
    margin: auto;
    padding: 0;
}
.bl-96{
    padding: 16px;
}
nav{
    height: 60px;
    background-color: var(--bg);
}
.bl-modal-open{
    width: 100%;
    height: 100vh;
    transition: all .9s ;
    transform: translate(0px);
    display: block;
    opacity: 1;
}
.bl-modal-close{
 height: 0;
 opacity: 0;
 transform: translate(-100%);
}
p{
    font-size: var(--heading);
}
.bl-flex-row{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    
}
.bl-felx-column{
    display: flex;
    flex-direction: column;
    
}
.bl-flex-row li{
    margin: 0 20px;
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: var(--heading);
    line-height: 32px;
    font-family:'Inter';

}
.cols li a{
    font-size: var(--footer-link);
}
:root{
--bg:#f5e8dd;
--heading:22px;
--footer-link:18px;
}
footer{
    opacity: 1;
    transition: all .9s;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 0;
    background: #f9f9f9;
    box-shadow: 0 0 1px 0 #e3e2e2;
    transform: translateY(400px);
    transition: all 0.9s;
}
footer .bl-flex-row{
    align-items: baseline !important;
}
.cols .bl-flex-column,.cols .bl-flex-row{
    margin-top: 10px;
}
.cols .bl-flex-column li{
    margin: 0 21px 0 0;
}
.align-center{
    align-items: center !important;
}

/*Slider CSS */

span.counting::before {
    content: '';
    position: absolute;
    left: -63px;
    right: 0;
    width: 52px;
    background: #fff;
    height: 2px;
    top: 8px;
}
.slide-text{
    position: absolute;
    left: 10%;
    top: 30%;
}
.counting:nth-child(odd){
    position: relative;
    text-align: left;
    margin-left: 5.5%;
    transform: translateY(-40px);
    transition: all 0.9s .1s;
    display: block;
    opacity: 0;
    color: #fff;
}

.swiper-slide-active .counting{
    transform: none;
    opacity: 1;
}  

.headingText{
    text-align: left;
    font-size: 60px;
    width: 70%;
    line-height: 100px;
    transform: translate3d(5%,0px,10px);
    opacity: 0;
     transition: all 1s;
     color: #fff;
}
.bl-cta{
    justify-content: flex-start;
}

.slide-text{
    text-align: left;
}

.swiper-slide-active .headingText{
  opacity: 1;
  transform: none;
}
.bl-cta a {
    padding: 18px;
    width: 23%;
    text-align: center;
    background: #fff;
    margin-right: 2%;
    border-radius: 8px;
    color: #000;
    text-decoration: none;
    position: relative;
    z-index: 99;
}
.bl-cta a:hover{
    color: #fff;
}
.bl-cta{
    transform: translate3d(0,50px,0);
    transition: all 1s;
    margin-top:18px;
}
.swiper-slide-active .bl-cta{
    transform: none;
}
.bl-cta a::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width:0;
    height:100%;
    top: 0;
    background-color: #000;
    border-radius: 8px;
    z-index: -1;
    opacity: 0;
}
.bl-cta a:hover::before{
    width: 100%;
    height: 100%;
    transition: width .9s ease-in-out;
    opacity: 1;
    color: #fff;
}

@keyframes fadeinRight {
    0%{

        opacity: 0;
        -webkit-transform: translate3d(5%,0,0);
        transform: translate3d(5%,0,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

    }
    
}
@media only screen and (max-width:749px){
    .headingText {
        font-size: 22px;
        line-height: 35px;
        width: 100%;
    }
    .bl-cta a{
        padding: 7px;
        font-size: 14px;
        width: auto;
    }
    .counting{
        margin-left: 19% !important;
    }
    .d-center{
        justify-content: center !important;
    }
    .d-center .swiper-slide{
        width: 100% !important;
    }
}
 /* Card Slider */
 .card-text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0,0.8);
    padding: 20px;
 }

 .count{
    position: absolute;
    top: -45px;
    transform: rotate(270deg);
    left: 35px;
}
span.count::after {
    content: '';
    position: absolute;
    left: 31px;
    right: 0;
    width: 143px;
    height: 2px;
    background: #000;
    top: 10px;
}
.card-text h3{
   
    font-weight: 400;
    color: #fff !important;
    font-size: 25px;
    z-index: 9999;
    position: relative;
}
.card-text::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale3d(0,1,1);
    transition: all 0.9s;
    background-color: #00b6e8;
}
.card-text:hover::before{
    transform: scale3d(1, 1, 1);
}
.card-body::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
   transition: background-color 0.4s;
    top: 0;
    bottom: 0;
}
.card-body:hover::before{
    background: rgb(0, 0, 0,0.3);

}
.card-body:hover span{
    color: #fff;
}
.card-body:hover span::after{
background-color: #fff;
}

/* Tab Section */
.bl-sec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
   
}
.bl-ct-tab{
    height: 450px;
    background: #fff;
    box-shadow: 0 0 2px 0 #747474bf;
    padding: 40px 0px 0px 54px;
    width: 50%;
    position: relative;
    left: -13%;
}

.bl-ht{
    font-size: 44px;
}
.bl-sp {
    font-size: 22px;
    
}
.bl-img-sec{
    width: 50%;
}
.bl-img-sec img{
   height: 600px;
   display:block;
   margin: 0px 0 0 25%;
   
}
button.btn {
    background: none;
    outline: none;
    border: none;
    margin: 2px 10px;
    padding: 6px 10px;
    color: #fff;
}
.bl-tab-cont{
    width: fit-content;
    background-color: #00b6e8;
    padding: 5px 0px;
   
}
.tab-cont{
   width: 77%;
    background: linear-gradient(180deg, #0073bb, #00afe370);
 
}
.content{
    padding: 25px;
    display: none;
    opacity: 0;
}
.active{
    display: block;
    opacity: 1;
    line-height: 24px;
}
button.btn.btn-active {
    background: #fff;
    color: #000;
    border-radius: 4px;
}
#ser{
    display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
}
.bl-sht{
    font-size: 16px;
    padding-left: 100px;
    position: relative;
}
.bl-sht::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 89px;
    top: 9px;
    height: 2px;
    background-color: #000;
}
.bl-sp{
    margin: 25px 0;
    width: 78%;
}
@media only screen and (min-width:1400px ) and (max-width:1700px){
    .bl-ct-tab{
      left:-8%;

    }
    .tab-cont{
        width: 94%;
    }
}